name: Docker Build and Release

on:
  push:
    branches: [ "main" ]
    tags: [ 'v*.*.*' ]
  workflow_dispatch:

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.22'

      # 1. Version aus Dockerfile extrahieren
      - name: Extract version from Dockerfile
        id: get_version
        run: |
          VERSION=$(grep 'org.opencontainers.image.version' dockerfile | cut -d '"' -f 2)
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "TAG_NAME=v$VERSION" >> $GITHUB_ENV

      # 2. Binaries bauen
      - name: Build Binaries
        run: |
          GOOS=linux GOARCH=amd64 go build -o ionos-ddns-linux-amd64 main.go
          GOOS=windows GOARCH=amd64 go build -o ionos-ddns-windows-amd64.exe main.go
          GOOS=linux GOARCH=arm64 go build -o ionos-ddns-linux-arm64 main.go

      # 3. GitHub Release erstellen (nutzt die extrahierte Version)
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.TAG_NAME }}
          name: Release ${{ env.TAG_NAME }}
          files: |
            ionos-ddns-linux-amd64
            ionos-ddns-windows-amd64.exe
            ionos-ddns-linux-arm64
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # 4. Docker Setup & Build
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64 
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/ionos-ddns:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/ionos-ddns:${{ env.VERSION }}
