name: Docker Build and Release

on:
  push:
    branches: [ "main" ]
    tags: [ 'v*.*.*' ]
    paths:
      - 'main.go'
  workflow_dispatch:

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'
          cache: true

      - name: Install dependencies
        run: go mod download

      - name: Extract version from Dockerfile
        id: get_version
        run: |
          DOCKERFILE=$(find . -maxdepth 1 -iname "Dockerfile" | head -n 1)
          VERSION=$(grep -i 'image.version' "$DOCKERFILE" | sed -E 's/.*version="([^"]+)".*/\1/')
          
          if [ -z "$VERSION" ]; then
            echo "⚠️ Keine Version im Dockerfile gefunden, nutze Fallback 2.1.0"
            VERSION="2.1.0"
          fi
          
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "TAG_NAME=v$VERSION" >> $GITHUB_ENV

      - name: Build Binaries
        run: |
          GOOS=linux GOARCH=amd64 go build -o ionos-ddns-linux-amd64 .
          GOOS=windows GOARCH=amd64 go build -o ionos-ddns-windows-amd64.exe .
          GOOS=linux GOARCH=arm64 go build -o ionos-ddns-linux-arm64 .

      - name: Create GitHub Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          files: |
            ionos-ddns-linux-amd64
            ionos-ddns-windows-amd64.exe
            ionos-ddns-linux-arm64
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64 
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/ionos-ddns:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/ionos-ddns:${{ env.VERSION }}
